
$otter-dark: #1d2654;
$otter-blue: #3B4BD8;
$light-gray100: #F7F9FB;
$clam-pink: #FF6854;

:export {
  otterDark: $otter-dark;
  otterBlue: $otter-blue;
  lightGray100: $light-gray100;
  clamPink: $clam-pink;
}
