@font-face {
  font-family: 'Gilroy Bold';
  font-weight: 700;
  src: local('Gilroy Bold'), url('../fonts/Gilroy-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Gilroy ExtraBold';
  font-weight: 800;
  src: local('Gilroy ExtraBold'), url('../fonts/Gilroy-ExtraBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Gilroy Light';
  font-weight: 300;
  src: local('Gilroy Light'), url('../fonts/Gilroy-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'Gilroy Medium';
  font-weight: 500;
  src: local('Gilroy Medium'), url('../fonts/Gilroy-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Gilroy Regular';
  font-weight: 400;
  src: local('Gilroy Regular'), url('../fonts/Gilroy-Regular.woff2') format('woff2');
}
